# Root
.env

# Backend
/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/.env.ci
/backend/storage/*.key
/backend/public/hot
/backend/public/storage
/backend/storage/app/public/

# Frontend (Phase 4)
/frontend/node_modules/
/frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
